<!-- Home-page-admin -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/home-page-admin.css">
    <title>Home page admin</title>
</head>
<body>
    
    <div class="container">
        <header>
        <nav class="admin-navbar">

        <button id="adminTableBtn" class="MyBtns">
            <a href="../html/table-admin.html">Table d'Admins</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-utilisateur.html">Table d'Utilisateurs</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-service.html">Table des Services</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-categorie.html">Table des Catégories</a>
        </button>

        <button id="deconnexion-btn">
            <a href="../html/login-admin.html">Déconnexion</a>
        </button>

        </nav>
    </header>

        <p id="userName"></p>
        
        <div class="hero-image">
            <img src="/Mini-Projet/view/images/Frame 20470.png" alt="Bienvenue Admin" id="bg-img" width="700" height="300">
            
        </div>
    </div>

    <script src="../js/home-page-admin.js"></script>
</body>
</html>