<!-- INTERFACE 3 : Upload photo -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <title>Signup Step 3</title>
    <link rel="stylesheet" href="../css/photo-profile.css">
</head>
<body>

    <div class="container">

        <div id="notification"></div>

        <!-- HEADER -->
        <div class="top">
            <i class="fa-solid fa-chevron-left back-icon" id="back"></i>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>

        <h1>Vous êtes presque là !</h1>
        <p>Ajoutez une photo de profil et un banner</p>

        <!-- BANNER -->
        <div class="banner">
            <input type="file" id="bannerInput" hidden>
            <label for="bannerInput" class="camera">
                <i class="fa-solid fa-camera"></i>
            </label>
        </div>

        <!-- PROFILE -->
        <div class="profile-container">
            <div class="profile">
                <input type="file" id="profileInput" hidden>
                <label for="profileInput">
                    <i class="fa-solid fa-camera"></i>
                </label>
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="buttons">
            <button class="skip">Sautez</button>
            <button class="finish">Terminez</button>
        </div>

        
    </div>

    <script src="../js/photo-profile.js"></script>
</body>
</html>