<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css"/>
    <title>Signup Step 3</title>
    <link rel="stylesheet" href="../css/photo-profile.css">
</head>
<body>

    <div class="container">

        <!-- HEADER -->
        <div class="top">
            <i class="fa-solid fa-chevron-left back-icon" id="back"></i>
            <div class="progress">
                <div class="progress-bar"></div>
            </div>
        </div>

        <h1>Vous êtes presque là !</h1>
        <p>Ajoutez une photo de profil et un banner</p>

        <div class="banner">
            
            <div class="banner-top">
                <input type="file" id="bannerInput" hidden accept="image/png, image/jpeg, image/jpg, image/gif">
                <label for="bannerInput" class="camera-banner">
                    <i class="fa-solid fa-camera"></i>
                </label>
            </div>
            <div class="banner-bottom"></div>

            <!-- PROFILE dedans -->
            <div class="profile">
                <input type="file" id="profileInput" hidden accept="image/png, image/jpeg, image/jpg, image/gif">
                <label for="profileInput">
                    <img src="../images/person.png" id="profilePreview">
                    <i class="fa-solid fa-camera profile-icon"></i>
                </label>
            </div>
        </div>

        <!-- BUTTONS -->
        <div class="buttons">
            <button class="skip">Sautez</button>
            <button class="finish">Terminez</button>
        </div>

    </div>

    <!-- NOTIFICATION -->
    <div id="notification"></div>

    <!-- CROP MODAL -->
    <div id="cropModal">
        <div id="cropBox">
            <img id="cropImage">
        </div>
        <div id="cropButtons">
            <button id="cropCancel">
                <i class="fa-solid fa-xmark"></i> Annuler
            </button>
            <button id="cropConfirm">
                <i class="fa-solid fa-check"></i> Confirmer
            </button>
        </div>
    </div>

    <style>
        
    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>
    <script src="../js/photo-profile.js"></script>

</body>
</html>