<!-- Sign-up User -->
<!-- login-admin interface -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="../css/sighUp-user.css">
    <title>Sigh-up User</title>
</head>
<body>
    
    <div class="container">
        
        <div class="title">
            <h1>Bonjour et </h1>
            <h1>Bienvenu!!</h1>
        </div>

            <div class="inputs">
                <input type="email" name="email" id="in-email" placeholder="Entrez votre email">
                <div class="password-container">
                    <!-- Ajout de name="password" -->
                    <input type="password" name="password" id="password" placeholder="Entrez votre mot de passe">
                    <i class="fa-solid fa-eye-slash" id="togglePassword"></i>
                </div>
                <div class="confirmation">
                    <!-- Confirmation de password -->
                    <input type="password" name="confirmation-password" id="confirmation-password" placeholder="Confirmez votre mot de passe">
                    <i class="fa-solid fa-eye-slash" id="toggleConfirm"></i>
                </div>
                <p id="error-message">
                    Les mots de passe ne correspondent pas
                </p>
            </div>

            <div class="options">
                <div class="remember">
                    <input type="checkbox" id="checkbox">
                    <label for="checkbox">remember me</label>
                </div>
                <a href="#">forgot password?</a>
            </div>

            <!-- type="submit" sur le bouton -->
            <button type="submit"><a href="#" id="Sign-up">Sign Up</a></button>

            
            <div class="no-account">
                <p>Vous avez de compte? <a href="/Mini-Projet/view/html/login-user.html">Login!</a></p>
            </div>
    </div>

    <script src="../js/signUp-user.js"></script>

</body>
</html>