<!-- TABLE D'ADMIN -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script>
        (function () {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
            document.documentElement.classList.add('dark-theme');
            }
        })();
    </script>
    <link rel="stylesheet" href="../css/table-admin.css">
    <title>Table d'Admin</title>
</head>
<body>

    <header>
        <nav class="admin-navbar">

            <button class="MyBtns">
                <a href="../html/table-admin.html">Table d'Admins</a>
            </button>

            <button class="MyBtns">
                <a href="../html/table-utilisateur.html">Table d'Utilisateurs</a>
            </button>

            <button class="MyBtns">
                <a href="../html/table-service.html">Table des Services</a>
            </button>

            <button class="MyBtns">
                <a href="../html/table-categorie.html">Table des Catégories</a>
            </button>

            <button id="deconnexion-btn">
                <a href="../html/login-admin.html">Déconnexion</a>
            </button>

        </nav>
    </header>

    <div class="container">

        <table id="adminTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>DateNaissance</th>
                    <th>Sexe</th>
                    <th>Email</th>
                    <th>NumTel</th>
                    <th>Mot de passe</th>
                    <th>Rôle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Nom1</td>
                    <td>Prenom1</td>
                    <td>01/01/2005</td>
                    <td>M</td>
                    <td>example@gmail.com</td>
                    <td>0550000000</td>
                    <td>parrword1</td>
                    <td>Super-admin</td>
                </tr>
            </tbody>
        </table>

        <div class="buttons-container">
            <button class="buttons" id="deleteBtn">
                <i class="fa-solid fa-minus-square"></i>
                Supprimer un Admin
            </button>
            <button class="buttons" id="editBtn">
                <i class="fa-solid fa-edit"></i>
                Modifier un Admin
            </button>
            <button class="buttons" id="addBtn">
                <i class="fa-solid fa-plus-square"></i>
                Ajouter un Admin
            </button>
        </div>


        <!-- MODAL AJOUT -->

        <div id="modal" class="modal">
            <div class="modal-content" style="height:auto;width:500px;">

                <div class="modal-header">
                    <p>Ajouter un Admin</p>
                    <span class="close">&times;</span>
                </div>

                
                <div class="input-row">
                    
                    <div class="input-group">
                        <label>Nom<span class="mandatory-star">*</span></label>
                        <input type="text" id="nomInputAdd">
                    </div>
                    <div class="input-group">
                        <label>Prénom<span class="mandatory-star">*</span></label>
                        <input type="text" id="prenomInputAdd">
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <label>Date de naissance<span class="mandatory-star">*</span></label>
                        <input type="date" id="dateInputAdd">
                    </div>
                    <div class="input-group">
                        <label>Sexe<span class="mandatory-star">*</span></label>
                        <select name="sexe" id="sexeInputAdd"class="input-group">
                            <option value="M">Masculin</option>
                            <option value="F">Féminin</option>
                        </select>
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <label>Email<span class="mandatory-star">*</span></label>
                        <input type="email" id="emailInputAdd">
                    </div>
                    <div class="input-group">
                        <label>NumTel</label>
                        <input type="text" id="telInputAdd">
                    </div>
                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Mot de passe<span class="mandatory-star">*</span></label>
                        <input type="password" id="passWordAdd">
                    </div>

                    <div class="input-group">
                        <label>Rôle<span class="mandatory-star">*</span></label>
                        <select id="roleInputAdd">
                            <option value="admin">Admin</option>
                            <option value="super_admin">Super Admin</option>
                        </select>
                    </div>
                </div>
                <br>

                <div class="modal-buttons">
                    <button class="buttons" id="confirmAdd">
                        <i class="fa-solid fa-plus-square vert"></i>
                        Ajouter
                    </button>
                    <button class="buttons" id="cancelAdd">Annuler</button>
                </div>

            </div>
        </div>


        <!-- MODAL MODIFIER -->

        <div id="modifierModal" class="modal">
            <div class="modal-content" style="height:auto;width:500px;">

                <div class="modal-header">
                    <p>Modifier un Admin</p>
                    <span class="closeModifier">&times;</span>
                </div>

                <div class="input-row">
                    
                    <div class="input-group">
                        <label>Nom<span class="mandatory-star">*</span></label>
                        <input type="text" id="nomInput">
                    </div>
                    <div class="input-group">
                        <label>Prénom<span class="mandatory-star">*</span></label>
                        <input type="text" id="prenomInput">
                    </div>
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <label>Date de naissance<span class="mandatory-star">*</span></label>
                        <input type="date" id="dateInput">
                    </div>
                    <div class="input-group">
                        <label>Sexe<span class="mandatory-star">*</span></label>
                        <select id="sexeInput">
                            <option value="M">Masculin</option>
                            <option value="F">Féminin</option>
                        </select>
                    </div>
                    
                </div>

                <div class="input-row">
                    <div class="input-group">
                        <label>Email<span class="mandatory-star">*</span></label>
                        <input type="email" id="emailInput2">
                    </div>
                    <div class="input-group">
                        <label>NumTel</label>
                        <input type="text" id="telInput">
                    </div>
                </div>
                
                <div class="input-row">

                    <div class="input-group">
                        <label>Mot de passe<span class="mandatory-star">*</span></label>
                        <input type="password" id="passWordEdit">
                    </div>

                    <div class="input-group">
                        <label>Rôle<span class="mandatory-star">*</span></label>
                        <select id="roleInputEdit">
                            <option value="admin">Admin</option>
                            <option value="super_admin">Super Admin</option>
                        </select>
                    </div>
                </div>

                <div class="modal-buttons">
                    <button class="buttons" id="confirmModifier">
                        <i class="fa-solid fa-edit vert"></i>
                        Modifier
                    </button>
                    <button class="buttons" id="cancelModifier">Annuler</button>
                </div>

            </div>
        </div>


        <!-- MODAL CONFIRMATION SUPPRESSION -->

        <div id="confirmModal" class="modal">
            <div class="modal-content confirm-modal">

                <div class="modal-header">
                    <p>Confirmer la suppression</p>
                    <span class="closeConfirm">&times;</span>
                </div>

                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet admin ?</p>
                </div>

                <div class="modal-buttons">
                    <button class="buttons" id="confirmYes">
                        <i class="fa-solid fa-minus-square rouge"></i>
                        Supprimer
                    </button>
                    <button class="buttons" id="confirmNo">Annuler</button>
                </div>

            </div>
        </div>

        <div id="notification"></div>
        <div id="toggleBtnContainer">
            <button id="toggleBtn">🌙</button>
        </div>
    </div>

    <script src="../js/table-admin.js"></script>
</body>
</html>