<!-- TABLE UTILISATEURS -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <script>
        (function () {
            const savedTheme = localStorage.getItem('theme');
            if (savedTheme === 'dark') {
            document.documentElement.classList.add('dark-theme');
            }
        })();
    </script>
    <link rel="stylesheet" href="../css/table-admin.css">

    <title>Table d'Utilisateurs</title>
</head>

<body>

    <header>
        <nav class="admin-navbar">

        <button id="adminTableBtn" class="MyBtns">
            <a href="../html/table-admin.html">Table d'Admins</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-utilisateur.html">Table d'Utilisateurs</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-service.html">Table des Services</a>
        </button>

        <button class="MyBtns">
            <a href="../html/table-categorie.html">Table des Catégories</a>
        </button>

        <button id="deconnexion-btn">
            <a href="../html/login-admin.html">Déconnexion</a>
        </button>

        </nav>
    </header>

    <div class="container">


        <table id="userTable">

            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>DateNaissance</th>
                    <th>Sexe</th>
                    <th>Email</th>
                    <th>NumTel</th>
                    <th>Niveau</th>
                    <th>Spécialité</th>
                    <th>localisation</th>
                    <th>status</th>
                </tr>
            </thead>

            <tbody>

                <tr>
                    <td>1</td>
                    <td>Nom1</td>
                    <td>Prenom1</td>
                    <td>01/01/2005</td>
                    <td>M</td>
                    <td>example@gmail.com</td>
                    <td>0550000000</td>
                    <td>L3</td>
                    <td>Informatique</td>
                    <td>univ de Bejaia</td>
                    <td>proposeur</td>
                </tr>

            </tbody>

        </table>

        <div class="buttons-container">

            <button class="buttons" id="deleteBtn">
                <i class="fa-solid fa-minus-square"></i>
                Supprimer un Utilisateur
            </button>

            <button class="buttons" id="modifierBtn">
                <i class="fa-solid fa-edit"></i>
                Modifier un Utilisateur
            </button>

        </div>

        <!-- MODAL AJOUT -->

        <div id="modal" class="modal">

            <div class="modal-content" style="height:auto;width:500px;">

                <div class="modal-header">
                    <p>Modifier un Utilisateur</p>
                    <span class="close">&times;</span>
                </div>

                <div class="input-row">

                    <div class="input-group">
                        <label>Nom<span class="mandatory-star">*</span></label>
                        <input type="text" id="nomInput">
                    </div>

                    <div class="input-group">
                        <label>Prénom<span class="mandatory-star">*</span></label>
                        <input type="text" id="prenomInput">
                    </div>

                </div>

                <div class="input-row">

                    <div class="input-group">
                        <label>Date de naissance<span class="mandatory-star">*</span></label>
                        <input type="date" id="dateInput">
                    </div>

                    <div class="input-group">
                        <label>Sexe<span class="mandatory-star">*</span></label>
                        <select name="sexe" id="sexeInput" class="input-group">
                            <option value="M">Masculin</option>
                            <option value="F">Féminin</option>
                        </select>
                    </div>

                </div>

                <div class="input-row">

                    <div class="input-group">
                        <label>Email<span class="mandatory-star">*</span></label>
                        <input type="email" id="emailInput">
                    </div>

                    <div class="input-group">
                        <label>NumTel</label>
                        <input type="text" id="telInput">
                    </div>

                </div>

                <div class="input-row">

                    <div class="input-group">
                        <label>Niveau</label>
                        <input type="text" id="niveauInput">
                    </div>

                    <div class="input-group">
                        <label>Spécialité</label>
                        <input type="text" id="specialiteInput">
                    </div>

                </div>
                <div class="input-row">
                    <div class="input-group">
                        <label>Localisation</label>
                        <input type="text" id="localisationInput">
                    </div>

                    <div class="input-group">
                        <label>Status<span class="mandatory-star">*</span></label>
                        <select name="statut" id="statusInput" class="input-group">
                            <option value="Proposeur">Proposeur</option>
                            <option value="Chercheur">Chercheur</option>
                        </select>
                    </div>
                
                </div>

                <div class="modal-buttons">

                    <button class="buttons" id="confirmAdd">
                        <i class="fa-solid fa-edit vert"></i>
                        Modifier
                    </button>

                    <button class="buttons" id="cancelAdd">Annuler</button>

                </div>

            </div>
        </div>

        <!-- MODAL SUPPRESSION -->

        <div id="confirmModal" class="modal">

            <div class="modal-content confirm-modal">

                <div class="modal-header">
                    <p>Confirmer la suppression</p>
                    <span class="closeConfirm">&times;</span>
                </div>

                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</p>
                </div>

                <div class="modal-buttons">

                    <button class="buttons" id="confirmYes">
                    <i class="fa-solid fa-minus-square rouge"></i>
                    Supprimer
                    </button>

                    <button class="buttons" id="confirmNo">Annuler</button>

                </div>

            </div>
        </div>

        <div id="notification"></div>
        <div id="toggleBtnContainer">
            <button id="toggleBtn">🌙</button>
        </div>
    </div>

    <script src="../js/table-utilisateur.js"></script>

</body>
</html>
