
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background:#f3f2ef;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;   
}



.container{
    background:white;
    padding:40px;

    width:400px;
    height:500px;

    border-radius:25px;


    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}



.container h1{
    margin-bottom:25px;

    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
    font-weight:200;
    line-height:30px;

    color:#000;
}



.inputs{
    display:flex;
    flex-direction:column; 
    gap:15px;            
    margin-top:40px;
}

input{
    width:100%;
    padding:12px;

    border:1px solid #898989;
    border-radius:30px;

    font-size:14px;
}


.inputs input:focus{
    outline:none;
    border-color:#0a66c2; 
}


.options{
    display:flex;
    justify-content:space-between; 
    align-items:center;
    margin-top:10px;
}


.remember{
    display:flex;
    align-items:center;
    gap:5px;
}


label{
    font-size:14px;
    color:#555;
}

#checkbox{
    margin-left:5px;
}


input[type="checkbox"]{
    width:auto;
}

.remember label{
    color:#16376E;
}


a{
    display:block;
    margin-top:10px;
    margin-bottom:20px;

    font-size:14px;
    color:#16376E;
}

a:hover{
    text-decoration:none;
}



button{
    width:100%;
    padding:12px;

    background:#16376E;
    color:white;

    border:none;
    border-radius:25px;

    font-size:16px;
    font-weight:bold;

    margin-top:30px;
    letter-spacing:1px;

    cursor:pointer;
}


button:hover{
    background:#004182;
}


.password-container{
    position:relative;
    width:100%;
}

.password-container input{
    width:100%;
    padding:12px;
    padding-right:40px;
}


#togglePassword{
    position:absolute;

    right:10px;
    top:50%;
    transform:translateY(-50%);

    cursor:pointer;
    color:#555;
}